<div class="container">
    <h2>Update Book</h2>
    <form [formGroup]="bookForm" (ngSubmit)="updateBook()">

        <mat-form-field>
            <mat-label>ID</mat-label>
            <input matInput formControlName="id" placeholder="ID"/>
            <mat-error *ngIf="bookForm.get('id')?.hasError('required')">
                This input is required!
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" placeholder="Title" required />
            <mat-error *ngIf="bookForm.get('title')?.hasError('required')">
                This input is required!
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label>Description</mat-label>
            <input matInput type="text" placeholder="Description" formControlName="description" />
            <mat-error *ngIf="bookForm.get('description')?.hasError('required')">
                This input is required!
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label>Author</mat-label>
            <input matInput type="text" placeholder="Author" formControlName="author" />
            <mat-error *ngIf="bookForm.get('author')?.hasError('required')">
                This input is required!
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label>ISBN</mat-label>
            <input matInput type="text" placeholder="ISBN" formControlName="isbn" />
            <mat-error *ngIf="bookForm.get('isbn')?.hasError('required')">
                This input is required!
            </mat-error>
        </mat-form-field>

        <!-- <mat-form-field class="form-field">
            <mat-label>Publication Date</mat-label>
            <input matInput type="text" placeholder="Publication Date" formControlName="publicationDate" />
            <mat-error *ngIf="bookForm.get('publicationDate')?.hasError('required')">
                This input is required!
            </mat-error>
        </mat-form-field> -->
        <mat-form-field class="form-field">
            <mat-label>Publication Date</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="Publication Date" formControlName="publicationDate" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="bookForm.get('publicationDate')?.hasError('required')">
                This input is required!
            </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Update Book</button>
        
    </form>
</div>
