.home-container {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: primary;
    height: 80vh;
  }
  
  .logo {
    text-align: center;
    width: 700px;
    height: auto;
    margin-bottom: 20px;
  }